/*######################################################################################################### 
         Slider Image and text
##########################################################################################################*/

.Slider_img{
    width: 100%;
    height: 82vh;
}

#demo{
    position: relative;
}

.text-block {
    position: absolute;
    top: 30%;
    right: 70%;
    color: white;
  }

.text-block p{
    font-size: small;
}  

/*######################################################################################################### 
         Offers Detals
##########################################################################################################*/


.Offers_Detals{
    padding-top: 20px;
    text-align: center;
    color: #ffffff;
    background-image: linear-gradient(to right,#4d1868 , #dc2430);
}

