/* ######################################################################################################
                    Header Background 
########################################################################################################*/
.tutor-header{
    background-image: url("Images/back.jpg");
}
/* ######################################################################################################
                    Header Quote CSS
########################################################################################################*/
.quote-text {
    text-align: center;
    padding-top: 340px;
    margin-bottom: 105px;
}
/* ######################################################################################################
                  Header Section Signup Form CSS
########################################################################################################*/
.signup input[type=text], .signup input[type=email] {
    height: 53px;
    width: 36.4%;
    padding: 0 30px;
    margin-right: 22px;
    float: left;
    border: none;
    font-size: 14px;
    margin-bottom: 65px;
}
.signup .btn {
    min-width: 190px;
}
.btn:hover {
    color: #fff;
}
.btn {
    display: inline-block;
    min-width: 196px;
    text-align: center;
    border: none;
    padding: 15px 10px;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    color: #fff;
    cursor: pointer;
    background: #d82a4e;
}

/* ######################################################################################################
                    Middle Section Different Courses CSS
########################################################################################################*/
.categories-section {
    padding-top: 50px;
    padding-bottom: 115px;
}
.categories-section .container {
    margin-bottom: -34px;
    background-color: #cccccc;
}
.section-title {
    text-align: center;
    margin-bottom: 110px;
}
.section-title h2 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 25px;  
    color: #474747;
}
h4 {
    font-size: 24px;
    font-weight: 600;
    color: #474747;
}

.set-bg {
    background-repeat: no-repeat;
    background-position: top center;
}
.categorie-item .cat-text {
    padding: 40px 35px;
}
.categorie-item .cat-text h5 {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #474747;
}

.categorie-item .cat-text span {
    font-size: 18px;
    font-weight: 600;
    color: #d82a4e;
}
.categorie-item :hover {
    background-color:#e072c9;
}


/* ######################################################################################################
                    Middle Section Search Courses Form CSS
########################################################################################################*/
.search-course-section .container{
    
    padding-top: 115px;
    padding-bottom: 115px;;
}

.course-search-form {
        background: #fff;
        padding: 44px 38px;
    }

#courses-form{
    margin-top: 20px;
    background-color: rgb(240, 239, 239);
    text-align: center;
}
.search {
    background: #d82a4e;
    padding-top: 60px;
    padding-bottom: 50px;
}

.search-warp {
    background: #d82a4e;
    padding-top: 60px;
    padding-bottom: 50px;
}
.search-warp .section-title {
    margin-bottom: 30px;
}
.section-title {
    text-align: center;
}
.text-white h2
{
    color: #fff;
}
.section-title h2 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 25px;
}
.course-search-form {
    text-align: center;
    background: #fff;
    padding: 44px 38px;
}
.course-search-form input[type=text], .course-search-form input[type=email] {
    width: 48.1%;
    margin-bottom: 20px;
}
.course-search-form input[type=text], .course-search-form input[type=email] {
    height: 56px;
    padding: 0 30px;
    margin-right: 18px;
    float: left;
    border: none;
    font-size: 14px;
    background: #edf4f6;
}
.course-search-form input[type=text].last-m, .course-search-form input[type=email].last-m {
    margin-right: 0;
}
.course-search-form .site-btn {
    min-width: 198px;
    padding: 16px 10px;
}
.site-btn {
    display: inline-block;
    text-align: center;
    border: none;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    color: #fff;
    cursor: pointer;
    background: #d82a4e;
}
/* ######################################################################################################
                    Footer Section CSS
########################################################################################################*/
h5 {
    font-size: 20px;
    margin: 0px;
    font-weight: 600;
    color: rgb(71, 71, 71);
}

p {
    font-size: 14.1px;
    color: rgb(135, 135, 135);
    line-height: 2.2;
    font-weight: 500;
}