img {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
            transition:         transform .8s ease-in-out;
        
  }
  img:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  img{
    object-fit: cover;
    border-radius: 50%;
    margin-top: 5vh;
    height: 200px;
    width: 200px;
  }
  .rotate-1{
    text-align: center;
  }
  .rotate-2{
      margin-top: 100px;
  }
  
  .main-page{
      background-color: black;
      height: 100vh;
  }