  /*######################################################################################################### 
         Slider Image and text
##########################################################################################################*/

.Slider_img{
    width: 100%;
    height: 90vh;
}

#demo{
    position: relative;
}

.heading-block {
    position: absolute;
    top: 15%;
    left: 20%;
    color: white;
    text-align: center;
  }

  .text-block {
    position: absolute;
    top: 75%;
    left: 30%;
    color: white;
    text-align: center;
  }

.text-block p{
    font-size: medium;
    font: 900;
}  

#readmore{
    padding-top: 15px;
    color: #333;
}

  /*######################################################################################################### 
          Tender Detals
##########################################################################################################*/

.Tender_Detals{
    text-align: center;
    margin-bottom: 5vh;
}

#first_Box{
    border-right:2px solid gray;
}

.Tender_Detals_text{
    margin-top: 8vh ;
    margin-bottom: 8vh;
}

.Tender_Detals_text p{
    margin-top: 4vh;
    color: #808080;
}


.Tender_Detals_box h4, .Tender_Detals_box p{
    color: #808080;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

  /*######################################################################################################### 
          Custommer Says
##########################################################################################################*/

.Custommer_Says{
    background-color: #f4f4f4;
    text-align: center;
    margin-bottom: 5vh;
}

.Custommer_Says_text{
    margin-top: 8vh ;
    margin-bottom: 8vh;
}

.Custommer_Says_text p{
    margin-top: 5vh;
    text-align: center;
}

.Custommer_Says_text div{
    margin-top: 5vh;
}

.Custommer_Says_box{
    margin-left: 4vh;
}

.Custommer_Says_box img{
    width: 30%;
    margin-bottom: 5vh;
}

.people{
    margin-top: 5vh;
}

.post{
    color: #808080;
}

  /*######################################################################################################### 
          Footer
##########################################################################################################*/

.Footer{
    text-align: center;
}

.Footer_box p{
    color: #333;
}

.Footer_box i{
    margin-bottom: 2vh;
}

  /*######################################################################################################### 
          Search --> form
##########################################################################################################*/

.Seacrch_div{
    background-color: #5DBCD2;
}

.form-div{
    padding-top: 3vh;
}

.Search-text-up li{
    float: left;
    margin-left: 20vw;
}

.Search-text-up a{
    color: #ffffff;
}

.Search-text a:hover{
    color: #333;
}

.Search-text-up{
    margin-bottom: 5vh;
}

.more_less{
    color: #ffffff;
}

.more_less:hover{
    color: #ffffff;
}

  /*######################################################################################################### 
          Search --> fingertips
##########################################################################################################*/

.fingertips{
    text-align: center;
}

.fingertips_big{
    font-size: 6vh;
    margin-top: 10vh;
}

.fingertips_small{
    color: blue;
    margin-top: 5vh;
    margin-bottom: 7vh;
}