/* ####################################################################################################################
    Header
######################################################################################################################*/

.WELCOME , .Header
{
    background-color: rgb(224, 221, 221);
    padding-top: 5vh;
}

.WELCOME h2
{
    font-family: 'texgyreadventorregular';
    color: #3B3B3B;
}

.Header .header_inner
{
    background-color: #3B3B3B;
}

.nav-item{
    font-size: 13px;
    padding: 5px 5px;
}

.nav-item:hover{
    background: #FF5454;
}

.Header .fa
{
    padding: 10px 10px;
    width: 4vw;
    color:white;
    text-align: center;
}

.Header .fa:hover
{
    background: #FF5454;
}

/* ####################################################################################################################
    Slider
######################################################################################################################*/

.img_slider img{
    width: 100%;
    height: 100vh;
    position: absolute;
}

.img_slider div{
    position: relative
}

.carousel-item h2{
    margin-top: 30vh;
    font-size: 10vh;
}

.carousel-item p{
    margin-top: 10vh;
    font-size: larger;
}

.carousel-item button
{
    color: white;
    border: 2px solid red;
    margin-top: 10vh;
}

