/*############################################################################################################ 
            Header
##############################################################################################################*/

.header{
    position: fixed;
    z-index: 100;
    width: 100%;
}

/*############################################################################################################ 
            Easy Steps to follow
##############################################################################################################*/

.EasySteps img{
    width: 100%;
}

.EasySteps .container , .EasySteps .row{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.EasySteps .h6{
    margin: auto auto;
}

/*############################################################################################################ 
            Footer
##############################################################################################################*/

.footer{
    background-color: #193040;
    padding-top: 5vh;
    padding-bottom: 5vh;
    position: relative;
}

.footer h6{
    color: #ffffff;
    font-size: smaller;
}

.footer hr{
    border: .1px solid #ffffff;
}

.store img{
    width: 10vw;
}

.footer_box{
    margin-top: 2vh;
}

/*############################################################################################################ 
            andheri
##############################################################################################################*/

.andheri{
    padding-top: 15vh;
    margin-bottom: 5vh;
}

.andheri img{
    width: 100%;
    height: 27vh;
}

.andheri h4{
    text-align: center;
}

.andheri span{
    color: gray;
}

.andheri p{
    text-align: center;
    font-size: x-small;
}

.andheri .food_card{
    margin-top: 4vh;
}
